* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Inter";
}

input {
  border: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: inherit;
  border: 0;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.title h2 {
  font-size: 46px;
}

.title-line {
  flex: 1 1 auto;
  height: 1px;
  background-color: black;
}

.header__first {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  width: 40px;
}

.search {
  padding: 8px 12px;
  border-radius: 12px;
  width: 250px;
}

.sort {
  display: flex;
  list-style: none;
  gap: 20px;
}

.sort button {
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.2s ease-in-out all;
}

.sort button:hover {
  color: rgb(66, 66, 184);
}

.sort button:active {
  color: black;
}

.banner {
  height: calc(100vh);
  padding-top: 59px;
}
.banner__wrapper {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.banner__wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.banner .arrow img {
  width: 20px;
}
.banner .arrow-prev img {
  transform: rotate(180deg);
}

.banner .arrow {
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.movies {
  padding: 30px 0;
}
.movies__inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 30px;
}

.movie {
  display: flex;
  gap: 35px;
  max-width: 560px;
}
.movie__image {
  height: 400px;
  background-image: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/84934543-5991-4c93-97eb-beb6186a3ad7/600x900");
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  padding: 12px 8px;
  display: flex;
  align-items: end;
  flex: 0 0 250px;
}

.movie__image .rating {
  background-color: #f77520;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 21px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.movie h3 {
  font-size: 28px;
}

.movie .stars {
  display: flex;
  gap: 5px;
  margin: 10px 0 25px;
}
.movie .stars img {
  width: 20px;
}

.movie p {
  text-align: justify;
}

.movie__item {
  margin-top: 10px;
}

.movie__item-title {
  color: #bab9b9;
  font-weight: 600;
}
